div {
    height: 95vh;
    /* align-content: center; */
    
}

#covidBubble {
    width: 48vw;
    background-color: #FFE1A8;
    float: left;
    align-content: flex-end;
}
#tbBubble {
    width: 48vw;
    background-color: #E26D5C;
    float: right;
    align-content: flex-start;
}

/* COLOR PALETTE:
C9CBA3 : green
FFE1A8 : yellow
E26D5C : coral
723D46 : burgundy
472D30 : brown
*/